nav {
    box-shadow: 0 0 12px -2px black;
    position: fixed;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #003049;
    color: #fdf0d5;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #003049;
    overflow: hidden;
    justify-content: flex-end;
    display: flex;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #fdf0d5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  main  {
    min-height: 100vh;
    padding: 85px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fdf0d5;
    color: #c1121f;
  }

  section {
    border-top: 1px solid #bbb;
  }
.p-home {
  font-size: larger;
}

.h3-home {
  font-size: larger;
  font-style: italic;
}

.img-me {
      width: 300px;
      float: right;
      margin: 10px 0 10px 10px;
}

  .aboutimg {
    float: right;
    margin: 0 24px 24px 24px;
    height: 150px;
    width: 150px;
  }

.img-proj {
  float: right;
  margin: 10px 24px 24px 24px;
  height: 150px;
  width: 150px;
}

  footer {
    text-align: center;
    padding: 5px;
    background-color: #669bbc;
    color: #003049;
  }